.student-add-form {
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    table {
        font-size: 10px;
    }

    table .btn {
        font-size: 10px;
    }
    #tableContainer {
        padding: 0;
    }
    #gradeTableHeader {
        position: relative;
        padding-left: 25px;
    }

    #deleteContainer {
        position: relative;
    }
}

@media only screen and (min-width: 600px) {
    #gradeTableHeader {
        position: relative;
        padding-left: 20px;
    }
} 

@media only screen and (min-width: 768px) {
    table .btn {
        font-size: 10px;
    }

    #courseTableHeader {
        position: relative;
        padding-left: 20px;
    }

    .student-add-form {
        right: -150px;
    }
} 

@media only screen and (min-width: 992px) {
    table .btn {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    #operationsTableHeader {
        position: relative;
        padding-left: 30px;
    }

    #gradeTableHeader {
        position: relative;
        padding-left: 15px;
    }
}