/* .student-add-form {
    margin-bottom: 30px;
}

.errorText {
    text-align: center;
}
*/

ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 25, 114);
    background: linear-gradient( rgb(10, 10, 43), rgba(6, 6, 22, 0.418)), url("./assets/images/signin_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

#signUp { display: none}


.vertical-center {
    position: relative;
    top: 20vh;
    
}

.vertical-center > form {
    background-color: rgb(64, 62, 177);
    
}

.forms form {
    padding: 15px;
}

.forms > .tab-group {
    color: black;
    list-style: none;
    background-color: rgb(64, 62, 177);
    background-color: rgba(255, 255, 255, 0.747);
    padding: 75px 30px 20px 75px;
}

.form-container form {
    min-height: 375px;
}

.form-container > form {
    color: black;
    background-color: rgb(64, 62, 177);
    background-color: rgba(255, 255, 255, 0.747);
}
.forms > .tab-group > .tab {
    display: inline-block;
    position: relative;
    font-size: 0;
    text-align: center;
    padding-right: 10px;
}

.forms > ul > li > a {
    color: grey;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-align: center;
}
.form-container {
    background-image: url('/assets/images/signin_background.png');
}
.form-container label {
    text-transform: uppercase;
}
.form-title {
    font-size: 3.5rem;
    margin: 20px 0;
}
.forms > .tab-group > .tab.active a {
    color: black;
    border-bottom: 3px solid black;
}

.forms button {
    text-transform: uppercase;
    margin-bottom: 20px;
    height: 45px;
}

.button-container > .btn {
    width: 100%;
    margin-top: 10px;
}

.form-group > * {
    border-radius: 20px;
}

.form-group > input {
    height: 40px;
}
.error {
    color: red;
}

@media only screen and (max-width: 600px) {
    .avgGradeContainer {
        display: block;
        position: relative;
        right: 0px;
    }

    table {
        font-size: 10px;
    }

    table .btn {
        font-size: 10px;
    }
    #tableContainer {
        padding: 0;
    }

    
}

@media only screen and (min-width: 600px) {
   
} 

@media only screen and (min-width: 768px) {
    .avgGradeContainer {
        display: inline-block;
        position: absolute;
        right: 0;
    }

    table .btn {
        font-size: 10px;
    }


    .student-add-form {
        right: -150px;
    }
} 

@media only screen and (min-width: 992px) {

    .avgGradeContainer {
        display: inline-block;
        position: absolute;
        right: 0;


    }

    table .btn {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .avgGradeContainer {
        display: inline-block;
        position: absolute;
        right: 0;
    }

}

@media only screen and (min-width: 1440px) {
    .avgGradeContainer {
        display: inline-block;
        position: absolute;
        right: 0;
    }

    
}

@media screen and (min-width: 1600px) {
    .avgGradeContainer {
        display: inline-block;
        position: absolute;
        right: 0;
    }

    
}

@media screen and (min-width: 1725px) {
    .avgGradeContainer {
        display: inline-block;
        position: absolute;
        right: 0;
    }

    
}

@media screen and (min-width: 1800px) {
    .avgGradeContainer {
        display: inline-block;
        position: absolute;
        right: 0;
    }

}
@media screen and (min-width: 1900px) {
    .avgGradeContainer {
        display: inline-block;
        position: absolute;
        right: 0;
    }

}